# Gradle & Build
.gradle/
build/
**/build/

# IDE & Config
*.iml
.idea/
source/.idea/
source/local.properties
.DS_Store
captures/
.externalNativeBuild
# Private & Security Docs
docs/private_*.md
docs/ai_*.md
